<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<h1>Your Learning Dashboard</h1>

<p id="total"></p>
<ul id="styles"></ul>

<a href="/">Back</a>

<script>
async function loadStats() {
    const res = await fetch("/stats");
    const data = await res.json();

    document.getElementById("total").innerText =
        "Total Questions: " + data.total_questions;

    let stylesHTML = "";
    for (let style in data.styles) {
        stylesHTML += `<li>${style}: ${data.styles[style]}</li>`;
    }

    document.getElementById("styles").innerHTML = stylesHTML;
}

loadStats();
</script>

</body>
</html>
